 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '' %}css/bootstrap.css" media="screen">
</head>
<body>
    {% block content_center %}
    {% endblock %}
</body>

    <script src="{% static '' %}js/jquery.min.js"></script>
    <script src="{% static '' %}js/popper.min.js"></script>
    <script src="{% static '' %}js/bootstrap.min.js"></script>
</html>