{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content_center %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 mt-3">
                <div class="card border-primary" style="max-width: 20rem;">
                  <div class="card-header">Загадайте двухзначное число</div>
                  <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Загадал</button>
                        </div>
                    </form>
                  </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for psychics_profile in psychics_profiles %}
                                 <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Точность экстрасенса {{ psychics_profile.user.username }}
                                    <span class="badge badge-primary badge-pill">{{ psychics_profile.accuracy }}</span>
                                  </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-3">
                {% if guessing_list %}
                    <h1>Угадывания</h1>
                    <ul class="list-group">
                        {% for guessing in guessing_list %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Экстрасенс {{ guessing.user.username }} предаоложил число
                                <span class="badge badge-primary badge-pill">{{ guessing.number }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                 {% else %}
                    <h1>Вы загадывали</h1>
                    {% for question in request.user.user_questions.all %}
                            <div class="card border-primary mb-3" style="max-width: 20rem;">
                              <div class="card-header">{{ question.number }}</div>
                              <div class="card-body">
                                <h4 class="card-title">Догадки экстросенсов</h4>
                                  <ul class="list-group">
                                      {% for guessing in question.question_guessing.all%}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Экстрасенс {{ guessing.user.username }} предположил {{ guessing.number }}
                                        </li>
                                      {% endfor %}
                                  </ul>
                              </div>
                            </div>
                        {% endfor %}


                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}