{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content_center %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="col-lg-6">
              <div class="box">
                <h1>Login</h1>
                <p class="lead">Вы готовы начать?</p>
                <hr>
                <form action="{% url 'login' %}" method="post">{% csrf_token %}
                  <div class="form-group">
                    <label for="email">Логин</label>
                    <input id="email" type="text" class="form-control" name="username" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Пароль</label>
                    <input id="password" type="password" class="form-control" name="password" required>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Вход</button>
                  </div>
                </form>
              </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}